<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href ="/css/styles.css">
        
        </script>
        
    </head>
    <body>
        <h1>
            {{>header}}
        </h1>
        <img class='portrait' src='/img/img1.png'>
        {{>footer}}
    </body>
</html>