<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href ="/css/styles.css">
        <link rel='icon' href="/img/img2.jfif">
        <title>Not Found</title>

        
    </head>
    <body>
        <div class='main-content'>
        <h1>
            {{>header}}
        </h1>
        <p>Page not found</p>>
        
        </div>
        {{>footer}}
    </body>
</html>