<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href ="/css/styles.css">

        
    </head>
    <body>
        <h1>
            {{>header}}
        </h1>
        <p>Help Page not found</p>>
        {{>footer}}
    </body>
</html>